################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

*.suo
Projet2/Projet2/bin
Projet2/Projet2/obj
Projet2/Projet2/Projet2.csproj.user