
@{
    ViewBag.Title = "Connexion";
}
<h1>Connexion</h1>
<br />

<form method="post" style="text-align:center; margin-top: 100px">
    <table>
        <tr>
            <th>Login:</th>
            <td><input id="txtUserName" name="txtUserName" type="text"></td>
        </tr>
        <tr>
            <th>Password:</th>
            <td><input id="txtUserPass" name="txtUserPass" type="password" runat="server"></td>
        </tr>
    </table>
    <br />
    <input class="button" type="submit" Value="Login" ID="cmdLogin"><p></p>
</form>
<br />
<br />
<br />
<div style="text-align:center;">
    <a href="~/Utilisateur/Inscription" class="link_button">
        S'inscrire
    </a>
</div>
