@using Projet2.Models;
@using Projet2.DAO;
@model Projet2.Models.Demande
@{
    ViewBag.Title = "FaireUneDemandeDemo";
}

<h2>FaireUneDemandeDemo</h2>

<br />

<form method="post">
    <div class="form-text">
        <select name="IdTypeAide" required>
            <option selected>Choissiez un type d'aide</option>
            @foreach (TypeHelp item in @Model.ListTypeHelp)
            {
                <option value="@item.Id" selected="@item.selected">@item.Label</option>
            }
        </select>
    </div>
    <br />
    <div class="form-text" required>
        <label class="form-label" for="start">Jour de traitement souhaité : </label>
        <input type="date" value="2021-02-02" name="dateTraitement">
    </div>
    <br />
    <div class="form-text" required>
        <label class="form-label" for="appt">Heure de traitement souhaitée : </label>
        <input type="time" value="13:30" name="HeureTraitement">
    </div>
    <br />
    <div class="form-text" maxlength="1000" required>
        <textarea name="description" required style="width:500px;">Voici la liste des courses qu'il me faudrait : tomate, salade, oignon, pates, riz, semoule, lait, oeuf</textarea>
    </div>
    <br />
    <!--   <div>
          <select name="Nom" required>
              <option selected>Choissiez un utilisateur</option>
              foreach (User u in ViewBag.listeUsers)
              {
                  <option> u.Nom </option>
              }
          </select>
      </div>
      -->

    <input class="button" type="submit" value="Valider" />
</form>
