<!-- Model : appel à la BDD Demande
    Controleur : créer l'objet Demande
    Vues : faire un foreach sur chaque caractéristiques de chaque demande

    Pour la recherche filtrée il faudra faire la même chose mais dans le Model Utilisateur
-->


@{
    ViewBag.Title = "RechercheDemandeAide";
}

<h2>RechercheDemandeAide</h2>

